.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: #ffffff7b;
  border-style: none;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -40.5px;
  background: transparent;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.modal__title {
  padding-top: 32px;
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__container {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 730px;
  border-radius: 8px;
  padding: 32px 50px 32px 50px;
  position: relative;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #21212166;
  padding: 16px 12px;
  width: 100%;
  margin: 8px 0 0;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}

.modal__input_type_error {
  border: 1px solid #ff0000b2;
}

.modal__input:hover {
  cursor: pointer;
  border-color: #212121;
}

.modal__error_visible {
  display: block;
  color: #ff0000b2;
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.modal__label {
  margin-bottom: 32px;
  display: block;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  border: none;
}

.modal__submit-btn_disabled:disabled {
  background-color: #212121;
  opacity: 0.5;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__input::placeholder {
  color: #2121214d;
  padding-left: 12px;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #ffff;
  background-color: #212121;
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  display: inline-block;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: 0%;
}

@media screen and (max-width: 480px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__container {
    padding: 24px 12px 12px 12px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
}

.modal__image {
  max-width: unset;
}
